:root {
    --main-back: #ffffff;
    --main-text: #534582;
    --nav-back: #221C35;
    --nav-text: #57AB89;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--main-back);
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 20px 30%;
}

.main-heading, .description {
    padding-bottom: 20px;
}